.mb-3{
    margin-bottom: 1rem;
}
.nav-link {
    margin: 10px 0;
    display: inline-block;
    text-decoration: none;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
}

/* Hide scrollbar for Webkit browsers */
.table-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.table-container {
    scrollbar-width: none;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 3px;
    text-align: left;
    font-size: 12px;
    white-space: nowrap;
    -webkit-text-size-adjust: 100%;

}

th {
    background-color: #f2f2f2;
    /* Optional: Add a background color to the header cells */
}

.pagination {
    display: flex;
    padding-left: 0;
}

.page-item {
    list-style: none;
    margin: 5px;
}

.tabs {
    display: flex;
}

.tabs button {
    border: none;
    outline: none;
    padding: 3px;
    cursor: pointer;
    transition: 0.3s;
}

.tabs button.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
    margin-top: 5px;
}

.tab-content.active {
    display: block;
}

.post-thumbnail {
    height: 25px;
}

code {
    background-color: #f4f4f9;
    color: #ff006c;
    font-family: 'Microsoft YaHei', 'Microsoft JhengHei', 'Arial', sans-serif;
    border: 1px solid #ddd;
    font-weight: bold;
    font-size: 0.95em;
    white-space: nowrap;
    padding: 0 3px;
    border-radius: 3px;
}

.logo{
    width: 160px;
    margin-top: 10px;
    margin-bottom:20px;
}

/* link */
.wn-links-container {
    margin-top: 20px;
}

.wn-links-container ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display:flex;
    flex-wrap: wrap
}

.wn-links-container li {
    width:auto;
    padding: 2px;
    text-align: center;
}

.wn-links-container li a {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border: #818181 1px solid;
}

.wn-links-container li:hover {
    background-color: #f1f1f1;
}

.wn-links-container li:last-child {
    border-bottom: none;
}

@media (max-width: 768px) {
    .wn-links-container li {
        width: calc(100% / 5 - 4px);
    }
}