body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
#alert-message{
    display: none;
    background-color: #f8d7da;
    padding: 5px 10px;
    border: 1px solid #ff8787;
    margin-bottom: 20px;
    width: 600px;
    max-width: 95%;
    margin-top: 20px;
    color: #ff8787;
    border-radius: 5px;
    text-wrap: wrap;
    line-break: anywhere;
    text-align: left;
}

#alert-suggestion{
    display: none;
    background-color: #a2ffa1;
    padding: 5px 10px;
    border: 1px solid #15a74b;
    margin-bottom: 20px;
    width: 600px;
    max-width: 95%;
    margin-top: 20px;
    color: #15a74b;
    border-radius: 5px;
    text-wrap: wrap;
    line-break: anywhere;
    margin-top: 5px;
    text-align: left;
}
.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
}

.card-1 code {
    background-color: #f1f1f1;
    color: #333;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: monospace;
}

.code-block {
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    overflow-x: auto;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: left;
    display: inline-block;
    width: calc(100% - 20px);
}

.container {
    width: 500px;
    max-width: 90%;
}

.copy-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.copy-button:focus {
    outline: none;
}

.copy-button.copied {
    background-color: #28a745;
}

.description {
    text-align: center;
}

.error-message {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    width: 600px;
    max-width: 95%;
    margin-top: 20px;
}

.header {
    position: absolute;
    top: 0;
    right: 10px;
}

h1 {
    margin: 0 0 20px;
    text-align: center;
}

h2 {
    font-size: 20px;
    margin: 0 0 20px 0;
}

.inline-code {
    background-color: #f1f1f1;
    color: #333;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: monospace;
}

.language-switcher-item {
    text-decoration: none;
    padding: 3px 5px;
    border: 1px solid #007bff;
    border-radius: 3px;
    color: #007bff;
    font-size: 12px;
    transition: background-color 0.3s, color 0.3s;
}

.language-switcher-item:hover {
    background-color: #007bff;
    color: #fff;
}

.language-switcher-item-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.language-switcher-item-list li {
    display: inline-block;
    margin-right: 3px;
}

li {
    margin: 10px 0;
}

.message {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 95%;
}

pre {
    white-space: pre-wrap;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}


#progress-container {
    width: 100%;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

#progress-bar {
    width: 0;
    height: 30px;
    background-color: #4caf50;
    border-radius: 5px;
    transition: width 0.5s;
}